main {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-size: 24px !important;
  font-weight: 900 !important;
  text-transform: uppercase !important;
}

h2 {
  font-size: 18px !important;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
}

a.button {
  text-transform: uppercase;
  font-weight: 900;
  background-color: #E9354C;
  color: #fff;
}

a.button:hover {
  color: #fff;
  background-color: #a21224;
}

a.button:active {
	transform: scale(0.9);
}

a.button:focus {
  box-shadow: 0 0 0 0;
}

.hero__figure--container {
  background-color: #E9354C;
  width: 100%;
  height: 85vw;
  clip-path: ellipse(110% 100% at 50% 0%);
}

.hero__figure--container img {
  margin-top: 0%;
  width: 80%;
}

.hero__video--container {
  width: 90vw;
  margin-top: -45%;
}

.product__figure img {
  width: 100%;
}

.description__cards {
  width: 80vw;
}

div.description__card {
  background-color: #AEB5BF;
  border-radius: 38px;
  border: 0;
}

div.description__card:hover {
  background-color: #E9354C;
}

.description__card--number {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 0;
  color: #fff;
}

.description__card--text {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  padding: 1rem;
}

.details__list {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.details__list--item {
  font-weight: 900;
  font-size: 17px;
  margin-bottom: 1rem;
}

.about__section {
  background-color: #AEB5BF;
  color: #fff;
  padding: 1rem 0;
}

.about__figure img {
  height: 50vw;
}

.about__copy {
  padding: 0 1rem;
}

.about__copy--para {
  text-align: start;
}

.testimonials__section {
  background-color: #E9354C;
}

.testimonials__heading {
  color: #fff;
}

.testimonials__para--primary {
  text-align: start;
  background-color: #fff;
  color: #000;
  border-radius: 2.5vw;
  padding: 1.5% 5%;
}

.testimonials__para--secondary {
  text-align: end;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.final__figure img {
  width: 90%;
  margin-bottom: 0%;
}

.final__figure {
  margin-bottom: 0;
}

footer {
  position: absolute;
  z-index: -1;
  background-color: #AEB5BF;
  width: 100%;
  height: 20vw;
  clip-path: ellipse(75% 100% at 50% 100%);
  margin-top: -13vw;
}

/* /////////////////////////////////// Media Queries /////////////////////////////////// */

@media (min-width: 768px) {
  h1 {
    font-size: 32px !important;
  }
  
  h2 {
    font-size: 24px !important;
  }
  
  a.button {
    font-size: 1.5rem;
    padding: 1.1vw 2.2vw;
    border-radius: 10px;
  }
  
  .product__figure img {
    width: 75vw;
  }
  
  .description__card--text {
    min-height: 85px;
  }
  
  .details__list--item {
    font-size: 24px;
  }
  
  .about__section {
    height: 600px;
  }
  
  .about__copy,
  .about__figure img {
    height: 450px;
  }
  
  .about__heading {
    text-align: start;
  }
  
  .testimonials__para--primary,
  .testimonials__para--secondary {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .hero__figure--container img {
    width: 70%;
  }
  
  div.description__card {
    width: 205px;
    padding: 1rem 1.5rem;
  }
  
  .about__section {
    height: 650px;
  }
  
  .about__copy,
  .about__figure img {
    height: 520px;
  }
  
  .about__copy--para {
    font-size: 20px;
  }
  
  .testimonials__para--primary,
  .testimonials__para--secondary {
    font-size: 24px;
  }
  
}

@media (min-width: 1440px) {
  h1 {
    font-size: 48px !important;
  }
  
  h2 {
    font-size: 36px !important;
  }
  
  a.button {
    font-size: 2.25rem;
  }
  
  .hero__figure--container {
    width: 100%;
    height: 908px;
  }
  
  .hero__figure--container img {
    width: 725px;
  }
  
  .hero__video--container {
    width: 963px;
    margin-top: -499px;
  }

  .description__cards {
    width: 67vw;
  }
  
  div.description__card {
    height: 326px;
    width: 264px;
  }
  
  .description__card--number {
    font-size: 144px;
  }
  
  .description__card--text {
    font-size: 24px;
  }
  
  .about__section {
    height: 830px;
  }
  
  .about__figure img {
    height: 617px;
  }
  
  .about__copy {
    height: auto;
  }
  
  .about__copy--para {
    font-size: 24px;
    margin-right: 142px;
  }

  .testimonials__para--primary,
  .testimonials__para--secondary {
    font-size: 36px;
  }

}